@model dynamic
@{
    ViewBag.Title = "title";
}
@section FootPartialSection
{
    <script src="~/Scripts/Home/CreateParty.js"></script>
    <script>
        CreateParty.init();
    </script>
}

<h2>title</h2>/