@model Hstar.EaterCamp.Models.Account.UserAccount
@{
    Layout = null;
}
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 6]><html class="ie6"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>吃货_中国唯一免费的小型娱乐吃货交流社区</title>
    <link href="~/Style/main.min.css" rel="stylesheet" />
    <link href="~/Style/page.min.css" rel="stylesheet" />
    <!--[if lt IE 10]><link rel="stylesheet" href="~/Style/hacks.css" /><![endif]-->
    <!--[if lt IE 9]> <script type="text/javascript"> (function (){ var tag = ['section','header','footer','nav','hgroup','article','aside'],i=0; for(i in tag){ document.createElement(tag[i]); } })();</script><![endif]-->
    <script type="text/javascript">
        (function () {
            var reg_match = /(nokia|iphone|android|motorola|^mot-|softbank|foma|docomo|kddi|up.browser|up.link|htc|dopod|blazer|netfront|helio|hosin|huawei|novarra|CoolPad|webos|techfaith|palmsource|blackberry|alcatel|amoi|ktouch|nexian|samsung|^sam-|s[cg]h|^lge|ericsson|philips|sagem|wellcom|bunjalloo|maui|symbian|smartphone|midp|wap|phone|windows ce|iemobile|^spice|^bird|^zte-|longcos|pantech|gionee|^sie-|portalmmm|jigs browser|hiptop|^benq|haier|^lct|operas*mobi|opera*mini|320x320|240x320|176x220)/i;
            var u = navigator.userAgent;
            var is_m = function () {
                var linux = u.indexOf('Linux') > -1;
                var result = reg_match.test(u);
                var width = window.screen.width;
                if (result || u == null) { return true; }
                if (linux && width < 1024) { return true; } else { return false; }
            }();
            if (is_m) {
                document.location.href = '/3g';
            }
        })();
        try { document.execCommand("BackgroundImageCache", false, true); } catch (e) { }
    </script>
</head>
<body data-log="pLogin" class="pLogin">
    <div class="login-wrapper js-wrapper">
        <div class="login-userBox" id="sliderUserbox">
            <ul class="login-user-list js-userList">
                <li>
                    <div class="login-user-item js-userItem">
                        <img src="##" class="js-preview-img" data-src="../Images/business/chicken.jpg" />
                        <i class="login-user-mask"></i>
                        <a class="login-user-target" href="/2487780" target="_blank"></a>
                        <div class="login-user-info">
                            <p class="login-user-nickname"><span title="hhhh">我们在这里吃鸡</span></p>
                            <p>XXXX街222号</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="login-user-item js-userItem">
                        <img src="##" class="js-preview-img" data-src="../Images/business/WalkPlay.jpg" />
                        <i class="login-user-mask"></i>
                        <a class="login-user-target" href="/2487780" target="_blank"></a>
                        <div class="login-user-info">
                            <p class="login-user-nickname"><span title="hhhh">我们在这里游玩</span></p>
                            <p>锦鲤</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="login-user-item js-userItem">
                        <img src="##" class="js-preview-img" data-src="../Images/business/visitMuseum.jpg" />
                        <i class="login-user-mask"></i>
                        <a class="login-user-target" href="/2487780" target="_blank"></a>
                        <div class="login-user-info">
                            <p class="login-user-nickname"><span title="hhhh">我们在这里参观</span></p>
                            <p>四川博物馆</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="login-user-item js-userItem">
                        <img src="##" class="js-preview-img" data-src="../Images/business/barbecue.jpg" />
                        <i class="login-user-mask"></i>
                        <a class="login-user-target" href="/2487780" target="_blank"></a>
                        <div class="login-user-info">
                            <p class="login-user-nickname"><span title="hhhh">我们在这里烧烤</span></p>
                            <p>三圣乡，幸福梅林</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="login-user-item js-userItem">
                        <img src="##" class="js-preview-img" data-src="../Images/business/PlayBasketball.jpg" />
                        <i class="login-user-mask"></i>
                        <a class="login-user-target" href="/2487780" target="_blank"></a>
                        <div class="login-user-info">
                            <p class="login-user-nickname"><span title="hhhh">我们在这里篮球</span></p>
                            <p>金莎，西南财大</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="login-user-item js-userItem">
                        <img src="##" class="js-preview-img" data-src="../Images/business/PlaySong.jpg" />
                        <i class="login-user-mask"></i>
                        <a class="login-user-target" href="/2487780" target="_blank"></a>
                        <div class="login-user-info">
                            <p class="login-user-nickname"><span title="hhhh">我们在这里唱歌</span></p>
                            <p>金莎，星光灿烂</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="login-user-item js-userItem">
                        <img src="##" class="js-preview-img" data-src="../Images/business/EatingFlish.jpg" />
                        <i class="login-user-mask"></i>
                        <a class="login-user-target" href="/2487780" target="_blank"></a>
                        <div class="login-user-info">
                            <p class="login-user-nickname"><span title="hhhh">我们在这里吃鱼</span></p>
                            <p>抚琴小区</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="login-user-item js-userItem">
                        <img src="##" class="js-preview-img" data-src="../Images/business/PlayPai.jpg" />
                        <i class="login-user-mask"></i>
                        <a class="login-user-target" href="/2487780" target="_blank"></a>
                        <div class="login-user-info">
                            <p class="login-user-nickname"><span title="hhhh">我们在这里打牌</span></p>
                            <p>小胡和小鑫子的家</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="login-user-prev js-prev-navbar hidden">
                <a href="javascript:;" class="prev-trigger"><em></em></a>
                <i></i>
            </div>
            <div class="login-user-next js-next-navbar">
                <a href="javascript:;" class="next-trigger"><em></em></a>
                <i></i>
            </div>
        </div>
        <div class="login-mainBox">
            <div id="loginContent" class="login-content">
                <div class="login-logo"></div>
                <div class="login-operate login-ope rate-actived">
                    <div id="operateBox" class="login-operate-inner">
                        <a data-log="openLogin" class="login-operate-btn current login-trigger" hidefocus="true" href="javascript:;">登录</a>
                        <a data-log="openReg" class="login-operate-btn register-trigger" hidefocus="true" href="javascript:;">注册</a>
                        <a class="login-operate-btn login-operate-btn-vistor" target="_blank" href="/browse">游客浏览</a>
                    </div>
                </div>
            </div>
            <div class="login-footer">
                <div class="login-footer-btnBox">
                    <span>500 位吃货在这里等你</span>
                </div>
                <div id="bottomBtnArea" class="login-footer-intro">
                    <span>永恒吃货-中国唯一免费的小型娱乐吃货交流社区</span>
                    <a class="login-btn-app" href="/app" target="_blank" data-log="login_app"><em class="icon-download"></em><span>下载手机版</span></a>
                </div>
                <p class="login-footer-copyright">
                    <span>永恒公司版权所有　©1997-2014　@@小胡子ICP备20090191号</span>
                    <a href="mailto:969502899@qq.com">联系我们</a>
                    <a href="##" target="_blank">吃货动态</a>
                    <a href="##" target="_blank">友情链接</a>
                    <a class="login-netease-follow" href="##" target="_blank"><em></em>关注</a>
                    <a class="login-sina-follow" href="##" target="_blank"><em></em>关注</a>
                </p>
            </div>
            <div id="wrap" class="login-wrap" style="height: 0px; overflow: hidden">
                <div class="login-wrap-arrowBox"><span class="login-wrap-arrow js-arrow"></span></div>
                <div class="login-wrap-main js-main">
                    <div class="login-wrap-content clearfix">
                        <div class="login-wrap-form">
                            <div class="login-wrap-title clearfix">
                                <a class="js-register" target="_blank" href="">没有通行证？开通&gt;&gt;</a>
                                <p class="form-notice">永恒通行证可以直接登录开通</p>
                            </div>
                            <form data-log="ursLogin" action="Login" method="POST" id="loginForm" name="loginForm" autocomplete="off" target="hiddenMessage">
                                <div>
                                    <ul class="login-box">
                                        <li class="login-error">
                                            @Html.ValidationMessage("LogError")
                                            <span class="text-icon-tips js-tips hidden"></span>
                                        </li>
                                        <li class="login-input js-row">
                                            <div class="form-input-wrapper js-inputItem">
                                                <label class="text-gray js-usernameLabel" style="display: none;">永恒通行证/手机号</label>
                                                <a class="icon-close hidden clear-trigger" href="javascript:;"></a>
                                                <input type="text" class="js-username" name="username" value="" tabindex="1" autocomplete="off" disableautocomplete />
                                            </div>
                                        </li>
                                        <li class="login-input js-row">
                                            <div class="form-input-wrapper js-inputItem">
                                                <label class="text-gray js-passwordLabel" style="display: none">密码</label>
                                                <input type="password" class="js-password" name="password" tabindex="2" />
                                            </div>
                                        </li>
                                        <li class="login-extend clearfix">
                                            <a class="login-forgot" href="##" target="_blank">忘记密码？</a>
                                            <span class="login-checkbox js-login">
                                                <span class="saveLogin-trigger">
                                                    <em class="icon-checkbox"></em><span>下次自动登录</span>
                                                    <input type="checkbox" hidefocus="true" style="opacity: 0; filter:alpha(opacity=0);" tabindex="3" value="1" name="savelogin" checked="checked">
                                                </span>
                                            </span>
                                        </li>
                                        <li class="login-btnBox">
                                            <input type="hidden" name="product" value="ht">
                                            <input type="hidden" value="1" name="type">
                                            <a class="login-btn submit-trigger" onclick="return false;" href="javascript:;">登 录</a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                            <iframe name="hiddenMessage" id="hiddenMessage" style="display:none"></iframe>
                        </div>
                        <div class="login-wrap-other">
                            <p class="form-notice">其他帐号登录：</p>
                            <ul class="login-wrap-other-list">
                                <li>
                                    <a class="login-other-sina" title="使用新浪微博帐号登录" href="##"></a>
                                </li>
                                <li>
                                    <a class="login-other-qq" title="使用QQ帐号登录" href="##"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Login/common.js"></script>
    <script src="~/Scripts/Login/login.js" data-main="page/login"></script>
</body>
</html> 