<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <autofac>
    <components>
      <component type="Hstar.Framework.Test.Ioc.Fun1,Hstar.Framework.Test" service="Hstar.Framework.Test.Ioc.IFun,Hstar.Framework.Test" />
    </components>
  </autofac>
</configuration>