<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<properties resource="./properties.config" />-->

  <settings>
    <setting useStatementNamespaces="false" />
  </settings>

  <providers resource="./providers.config" />

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="CounselorSystem" connectionString="server=.;database=HstarDB;Integrated Security=SSPI;Persist Security Info=False;" />
  </database>

  <sqlMaps>
    <sqlMap resource="./Sqlmap/Common.xml" />
  </sqlMaps>
</sqlMapConfig>